body {
	font-family:'Open Sans', helvetica, arial, sans-serif;
	.outer-container {
		.container {
			margin-top:40px;
		}
	}
}

.cms-page {
	.container {
		padding-top:50px;
}

p {
	font-weight:400;
	font-size:.9em;
	color:@c_grey;
	a {
		color:@c_link_main;
		&:hover {
			color:@c_link_hover;
		}
	}
}