@color-orange: #ff9900;
@color-gray_light: #cccccc;
@color-black_dark: #333333;
@color-black_medium: #454545;
@color-black_light: #777777;
@color-light_blue: #2C7FB8;
@color-light_purple: #253494;

@color-links: @color-light_blue;
@color-link_hover: @color-light_purple;
@color-link_active: @color-black_dark;
