/* base colors */
@c_second: #e5e5e5;
@c_third: #e2e2e2;
@c_white: #f3f3f3;
@c_grey: #555;
@c_red: #db6f6f;
@c_red_second: multiply(@c_red, @c_second);
@c_red_third: multiply(@c_red, @c_third);
@c_red_active: #ff9393;
@c_blue: #70DBDB;
@c_blue_second: multiply(@c_blue, @c_second);
@c_blue_third: multiply(@c_blue, @c_third);
@c_blue_dark: #4682b4;
@c_blue_compliment: #70dbdb;
@c_sandy: #fcfaf3;
@c_sandy_second: #f2ebdf;

/* Spec Colors */
@c_light: @c_sandy;
@c_light_second: multiply(@c_light, @c_second);
@c_light_third: multiply(@c_light, @c_third);
@c_med: @c_sandy_second;
@c_med_second: multiply(@c_med, @c_second);
@c_med_third: multiply(@c_med, @c_third);

/* Links */
@c_link_main: @c_red;
@c_link_hover: @c_red_second;

/* Nav Colors */
@c_navlink_main: @c_blue_dark;
@c_navlink_bghover: @c_light_second;
@c_navlink_active: @c_blue;
@c_navlink_borderlight: @c_blue_third;
@c_navlink_borderdark: @c_blue_dark;
@c_navlink_light: @c_light;






